streamlit
python-dotenv
crewai>=1.11.0
google-genai
crewai-tools
litellm
pydantic>=2.4.1
pydantic-settings
langchain
langchain-core
langchain-community
langchain-google-genai
pypdf
chromadb>=0.4.15
pysqlite3-binary
fastapi
uvicorn
python-multipart
